<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebtisam - Resume</title>
     <!-- Favicon -->
    <link rel="icon" href="image/resumeicon.png">
    <!-- link to style sheeet -->
    <link rel="stylesheet" href="styles/resume-style.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <!-- Resume content -->
   <header> 
    <img src="images/ebtisam 2.jpeg" alt="My image">
    <div>
    <h1>Ebtisam Abdelkerim</h1>
<p>Abdelkerim.Ebtisam@student.greenriver.edu <br> https://www.linkedin.com/in/ebtisamabdelkerim/
	<br><a href="https://github.com/Ebtisam0402"> My GitHub Account</a></p>
  </div>  
</header>

    <section id ="summary">
   <h2>Summary</h2> 
  <p>Software development student skilled in Java, JavaScript, and web technologies, seeking an entry-level role to apply technical skills and creativity to user-focused solutions. 
</p>
 </section> 

 <section id ="education">
<h2> Education</h2>
<article> 
    <div><h3>Green River College – Auburn, WA	</h3>   	
<p>Bachelor of Applied Science, expected June 2027<br>
Major: Software Development (Applied Computer Science), </p>
<h4>Relevant Coursework:</h4>
 <ul>
<li>Object-Oriented Programming</li>
<li>Data Structures</li>
<li>Web Development</li>
<li>Database Fundamentals</li>
</ul></div>
<div><h3>Seattle Central College – Seattle, WA</h4>
<p>Associate of Applied Science – Transfer in Software Development, <br> September 2022 – December 2024</p>
</div></article>
</section>

 <section id="skillsandcertification">
<h2>Skills and Certifications</h2>
 <ul>
<li>Programming: Java, SQL, JavaScript, python</li>
<li>Web: HTML/CSS, JSON</li>
<li>Tools & Platforms: Git, AWS (familiar)</li>
<li>Certification: Health IT 2023</li>
</ul>
 </section>
 
<section id="achievmentsandactivities">
<h2>Achievements and Activities</h2>
<ul>
<li>President’s List, Seattle Central College (2022–2024)</li>
<li>Volunteer, Eritrean Muslim Association – assisted with community events and technology support</li>
</ul>
 </section>
  
</body>
</html>