nav {
    background-color:lightblue;
    padding: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
